{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h2 style="text-align:center ;">The best books of 2022: A preview</h2>
    <ol type="1">
        <li style="color: #ff7b00;">Fiona and Jane by Jean Chen Ho (January 4)</li>
        Jean Chen Ho 's debut collection of linked stories about the lives and loves of two friends spanning decades
        evokes a distinctive multiethnic Asian American experience coming of age in Los Angeles in the late 20th
        century: R&B mixtapes, Cool Water cologne, red faces drunk on soju. Ho contrasts these freewheeling and at times
        precarious moments with their home lives, rife with long-held secrets and tensions, as daughters of Taiwanese
        immigrants. Through shifting perspectives and evocative milieus (from night markets to seedy Korean bars and
        exclusive clubs), the assemblage comes as close to a primer on modern L.A. Asian American rites of passage as
        anything in recent memory. —Lisa Wong Macabasco
        <br>
        <br>
        <br>
        <li style="color: #ff7b00;">The School for Good Mothers by Jessamine Chan (January 4)</li>
        Jessamine Chan 's debut—like all truly terrifying nightmares—starts off in a banal, familiar way: an utterly
        exhausted mother, in a moment of sleep-deprived despair, does the unthinkable (and yet understandable) and walks
        out of her apartment, leaving her baby behind. She doesn't intend to be gone for long, but somehow time slips
        away, and before she realises it, she's been gone for hours. It's a terrible thing to have done, and she knows
        it. But no degree of contrition will spare her from the authorities who descend, first removing her child and
        then transplanting her to an abandoned college campus-turned-dystopian-re-education facility where she will,
        ostensibly, learn what it truly takes to be a good mother. The tool for her forensically monitored progress is
        an uncanny robot baby, meant to stimulate her, challenge her, and, crucially, record her every movement, from
        loving gestures to instants of inattention. The School for Good Mothers (Simon & Schuster) picks up the mantle
        of writers like Margaret Atwood and Kazuo Ishiguro, with their skin-crawing themes of surveillance, control, and
        technology; but it also stands on its own as a remarkable, propulsive novel. At a moment when state control over
        women's bodies (and autonomy) feels ever more chilling, the book feels horrifyingly unbelievable and eerily
        prescient all at once. —Chloe Schama
        <br>
        <br>
        <br>
        <h2 style="color: #ff7b00;">Book-to-Movie Adaptations</h2>
        <ul>
            <li style="color: #ff7b00;">Little Women (2019)</li>
            Despite her surprising shutout in Oscar nominations this year, there's no doubt that Greta Gerwig did
            something remarkable with her adaptation of Louisa May Alcott's classic novel (spoilers to follow!). Gerwig
            adds a simple twist to the story by imagining that Jo is actually the author of the novel Little Women. This
            transforms the story into one about creative passion and achievement, and in one stroke makes a classic feel
            fresh without betraying its essential nature.
            <br>
            <br>
            <li style="color: #ff7b00;">The Exorcist (1973)</li>
            William Peter Blatty adapted his own novel for the classic horror film directed by William Friedkin, and the
            result is a film that improves on the book only in the sense that it brings some of the most brutal material
            to vibrant, terrifying life. The film's reliance on practical effects and restraint with the supernatural
            events makes it a discomfiting viewing experience that remains as iconic today as it was in 1973.
            <br>
            <br>
            <li style="color: #ff7b00;">Crazy Rich Asians (2018)</li>
            Kevin Kwan's endearing, satirical romantic comedy came out in 2013, and just five years later it was adapted
            into a sizzling motion picture directed by Jon M. Chu. The film was an immediate hit, capturing the
            intimacies, inner workings, and complex expectations in Singaporean high society. It earned several Golden
            Globe Award nominations and high praise from the critics and, of course, led to greater curiosity about the
            book itself.
            <br>
            <br>
            <li style="color: #ff7b00;">To All the Boys I've Loved Before (2018)</li>
            Jenny Han's staggering New York Times bestseller about sexuality, womanhood, and the strains of adolescence
            came to life in this touching Netflix adaptation. Within a week, the film was lauded as an instant rom-com
            classic and fans dubbed it one of the best book-to-movie adaptions out there. While the book version of To
            All the Boys I've Loved Before ends on a searing cliff-hanger (great for pulling readers into the sequel),
            the movie borrows a few scenes from P.S. I Still Love You for the orchestra-swell moment everyone loves in a
            good romantic movie.
            <br>
            <br>
        </ul>
        <br>
        <button><a href="{% url 'user/userindexpage' %}">GO to Userindex page</a></button>
</div>



{% endblock %}