{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">1</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (INR)</span>
                    <strong>${{ final_dollar }}</strong>
                </li>
            </ul>

            <div class="text-center pt-3">

                <script src="https://js.stripe.com/v3/"></script>

                <button id="checkout-button" data-secret="{{ session_id }}">
                    Checkout
                </button>

                {% load static %}
                <script type="text/javascript">
                    var sessionid = "{{session_id}}";
                </script>
                <script>
                    var stripe = Stripe('pk_test_51KpmbJSGnrdrktnNgpkmXf8qlr1VS2W6a049T5fdEDqFIzySDP13b8BYwBElQ9b4LoiM7qvFiajxDGa6fiP3GFNF00i0WbrqDv');

                    var checkoutButton = document.getElementById('checkout-button');

                    checkoutButton.addEventListener('click', function () {
                        stripe.redirectToCheckout({
                            // Make the id field from the Checkout Session creation API response
                            // available to this file, so you can provide it as argument here
                            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                            sessionId: sessionid
                        }).then(function (result) {
                            // If `redirectToCheckout` fails due to a browser or network
                            // error, display the localized error message to your customer
                            // using `result.error.message`.
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>



{% endblock %}