{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Basic Plan</h1>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Monthly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">RS300 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li> Access Monthly Choose base plan</li>
            <a href="{% url 'user/checkoutsubscription' %}?membership=monthly"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Get started</button></a>
        </ul>
      </div>
    </div>
    </br>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Premium Plan</h1>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Yearly<small class="text-primary">  Save 200!</small></h4>
      </div>
      
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Rs800 <small class="text-muted">/ yr</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Premium Access Yearly</li>
        </ul>
        <a href="{% url 'user/checkoutsubscription' %}?membership=yearly"><button type="button" class="btn btn-lg btn-block btn-primary">Get started</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}