{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Premium Plan is successfull!!</h1>
    <h4>SUBSCRIPTION IS ACTIVE NOW</h4>
</div>
<div class="container mt-5">
    {% if subscription.status == "active" %}
    <h4>Your subscription:</h4>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
                {{ product.description }}
            </p>
        </div>
    </div>
    {% endif %}
    <br>
    <br>
    <button><a href="{% url 'user/userindexpage' %}">GO to Userindex page</a></button>
    <button><a href="{% url 'user/accessmore' %}">See more</a></button>
</div>



{% endblock %}