{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <br>
    <h3>Purchased Successfully! </h3>
    <br>
    <br>
    <br>
    <br>
    <h4 style="text-align:center ;">New Releases!</h4>
    <br>
    <ol type="1">
        <li style="color: #ff7b00;">Sea of Tranquility, by Emily St. John Mandel:</li>
        Sea of Tranquility, Mandels sensational sixth novel, offers immense pleasures of puzzle box plotting and
        high-flying imagination. As devoted readers have come to expect from her fiction, the novel braids together a
        rich ensemble of characters, revealing the surprising linkages between their disparate lives. In 1912, a
        high-society exile is spooked by an out-of-body experience in the Canadian wilderness; in 2203, a novelist
        endures the agonies and ecstasies of “the last book tour on Earth” while longing for her home in a lunar colony;
        in 2401, a shiftless thirty-something becomes enmeshed with the secretive Time Institute. Linking them all is
        one mysterious shared experience: an overlapping moment, disjointed from linear time, that calls into question
        the very nature of our reality. Masterfully plotted and deeply moving, this visionary novel folds back on itself
        like a hall of mirrors to explore just what connects us to one another, and how many extraordinary contingencies
        bring us to each ordinary day of our lives.
        <br>
        <br>
        <br>
        <li style="color:#ff7b00;">The Candy House, by Jennifer Egan</li>
        One of our great American storytellers returns with a rare literary sequel of the very rarest quality. The Candy
        House enlarges A Visit From the Goon Squad not just by revisiting its memorable characters, but by doubling down
        on its formal conceits, with many chapters written in texts and emails. In this alternate reality, the world has
        been forever changed by Own Your Unconsciousness, a popular platform where memories are stored in the cloud and
        accessible to any user. As Egan hopscotches through the interconnected stories of shared memories, she asks
        powerful questions about the innate human need for connection, and the price of surrendering our privacy. Of the
        many novels that have sought to make sense of the social media age, The Candy House is the finest yet.
        <br>
        <br>
        <br>
        <li style="color: #ff7b00;">The Immortal King Rao, by Vauhini Vara</li>
        Why should television get to have all the fun with Big Tech? In this thrilling story about capitalism,
        consciousness, and the ties that bind, Vara brings the ethical questions of our time to speculative fiction. In
        a not-so-distant future, Athena Rao stands accused of murdering her father, the legendary tech mogul King Rao.
        To prove her innocence to the Board of Corporations, who run the planet, she will have to make use of The
        Harmonica, a device King implanted in her brain to provide access to all of his memories. Athenas defense takes
        the story back to her fathers traumatic childhood in India, all the way through to his meteoric rise and
        eventual downfall. Varas warped world of techno-capitalism run amok is vividly imagined, but its the novels
        beating heart that will win you over. “What if we could gather up our stories and hold on to them for
        safekeeping?” Vara asks. “Wouldnt that be our best shot at proving to the universe that, once upon a time, we
        were here?”
        <br>
        <br>
        <br>
        <li style="color: #ff7b00;">The Invisible Kingdom, by Meghan O'Rourke</li>
        “I got sick the way Hemingway says you go broke: gradually and then suddenly,’” ORourke writes in The
        Invisible Kingdom, describing the beginning of her decades-long struggle with chronic autoimmune disease. In the
        late nineties, ORourke began suffering symptoms ranging from rashes to crushing fatigue; when she sought
        treatment, she became an unwilling citizen of a shadow world, where chronic illness sufferers are dismissed by
        doctors and alienated from their lives. In this elegant fusion of memoir, reporting, and cultural history,
        ORourke traces the development of modern Western medicine and takes aim at its limitations, advocating for a
        community-centric healthcare model that treats patients as people, not parts. At once a rigorous work of
        scholarship and a radical act of empathy, The Invisible Kingdom has the power to move mountains.
        <br>
        <br>
        <br>
        <li style="color: #ff7b00;">Anthem, by Noah Hawley</li>
        In Anthem, it's the end of the world as we know it, and only teenagers can see the big picture. This epic
        literary thriller is set in a not-too-distant future, where the nation is hopelessly divided, the political
        system is broken, and the climate is barreling toward irrevocable disaster. (Familiar, right?) Crippled with
        anxiety about the sorrowed world they stand to inherit, high schoolers respond with a disturbing protest
        movement: mass suicide, “an act of collective surrender.” Three unlikely young heroes resist the movement and
        journey into the American West, where wildfires rage through the redwoods and homegrown terrorists stoke lethal
        violence. Together they embark on an epic quest to save a friend from the Wizard, a Jeffrey Epstein-like
        monster; ultimately, they may just save the world. Anthem is a Great American Novel for these tumultuous times—a
        provocative work of fiction that sees to the heart of things, cuts through the noise, and asks, “How can we
        change, before its too late?”


    </ol>



    <br>
    <br>
    <button><a href="{% url 'user/userindexpage' %}">GO to Userindex page</a></button>
    <br>
    <br>
</div>



{% endblock %}